<Layout::MasterNavigation />
<Layout::MasterToolbar>
	<div class="zone-1" />
	<div class="zone-2">
		<div class="label color-gray-700">
			Documize Edição {{appMeta.edition}} {{appMeta.version}} (build {{appMeta.revision}})
		</div>
	</div>
	<div class="zone-3" />
</Layout::MasterToolbar>

<Layout::Grid::Container>
	<Layout::Grid::Sidebar>
		<div class="sidebar-content">
			<div class="section">
				<div class="title">SOBRE</div>
				<div class="text">
          O Documize é atualizado com frequência tanto para as os clientes
          em nuvem quanto para os que hospedam suas próprias instâncias.
				</div>
				<div class="text">
          Tem uma ideia, sugestão ou comentário?  <a href="mailto:support@documize.com">Entre em contato.</a>
				</div>
			</div>
		</div>
	</Layout::Grid::Sidebar>
	<Layout::Grid::Content>
		{{layout/logo-heading
			title="Notícias do Produto"
			desc="Últimas notícias e atualizações do produto"
			icon=constants.Icon.Announce}}

		<div class="product-news">
			{{{newsContent}}}
			<div class="action">
				Tem uma ideia, sugestão ou comentário?  <a href="mailto:support@documize.com">Entre em contato.</a>
			</div>
		</div>
	</Layout::Grid::Content>
</Layout::Grid::Container>
