{{#section/base-editor-inline document=document folder=folder page=page tip="Selecione o PDF a ser renderizado" isDirty=(action "isDirty") onCancel=(action "onCancel") onAction=(action "onAction")}}

    <div class="form-group">
        <label for="new-space-name">PDF</label>
        {{input type="text" class="form-control mousetrap" placeholder="click upload button below" value=pdfName readonly=true}}
        <small class="form-text text-muted">O primeiro PDF carregado será utilizado</small>
    </div>

    <div class="form-group">
        <label for="new-space-name">Tamanho do preview</label>
        {{input type="number" class="form-control mousetrap" placeholder="e.g. 700" value=pdfOption.height}}
        <small class="form-text text-muted">Quão alto é o preview do PDF?</small>
    </div>

    <div class="form-group">
        <label for="new-space-name">Página inicial</label>
        {{input type="number" class="form-control mousetrap" placeholder="e.g. 1" value=pdfOption.startPage}}
        <small class="form-text text-muted">A primeira página a ser exibida</small>
    </div>

    <div class="form-group">
        <label for="new-space-name">Barra lateral</label>
        <select onchange={{action "onSetSidebar" value="target.value"}} class="form-control">
            <option value="none" selected={{is-equal pdfOption.sidebar "none"}}>
                Nada
            </option>
            <option value="bookmarks" selected={{is-equal pdfOption.sidebar "bookmarks"}}>
                Marcações
            </option>
            <option value="thumbs" selected={{is-equal pdfOption.sidebar "thumbs"}}>
                Miniaturas
            </option>
        </select>
        <small class="form-text text-muted">Opcionalmente, defina o conteúdo da barra lateral</small>
    </div>

{{/section/base-editor-inline}}
