<Layout::MasterNavigation @selectedItem="search" />
<Layout::MasterToolbar />

<Layout::Grid::Container>
	<Layout::Grid::Sidebar>
		<div class="sidebar-content">
			<div class="section">
				<div class="title">Filtro</div>
				<div class="list">
					<div class="item">
						{{input id="search-1" type="checkbox" checked=matchFilter.matchDoc}}
						<label for="search-1" class="name">Nome do documento</label>
					</div>
					<div class="item">
						{{input id="search-2" type="checkbox" checked=matchFilter.matchContent}}
						<label for="search-2" class="name">Conteúdo do documento</label>
					</div>
					<div class="item">
						{{input id="search-3" type="checkbox" checked=matchFilter.matchTag}}
						<label for="search-3" class="name">Nome da etiqueta</label>
					</div>
					<div class="item">
						{{input id="search-4" type="checkbox" checked=matchFilter.matchFile}}
						<label for="search-4" class="name">Nome do anexo</label>
					</div>
				</div>
			</div>
			<Ui::UiSpacer @size="200" />
			<div class="section">
				<div class="title">exemplos de busca</div>
				<div class="view-search">
					{{#if (eq appMeta.storageProvider constants.StoreProvider.MySQL)}}
						<div class="syntax">
							<div class="example">maçã banana</div>
							<div class="explain">Mostra resultados que contenham ao menos uma das duas palavras</div>
							<div class="example">+maçã +banana</div>
							<div class="explain">Mostra resultados que contenham as duas palavras</div>
							<div class="example">+apple macintosh</div>
							<div class="explain">Mostra resultados que contenham a palavra "apple", mas dá mais valor àqueles que tembém contenham "macintosh"</div>
							<div class="example">+apple -macintosh</div>
							<div class="explain">Mostra resultados que contenham a palavra "apple" mas não contenham "macintosh"</div>
							<div class="example">+torta +(&gt;recheio &lt;maçã)</div>
							<div class="explain">Mostra os resultados que contenham as palavras "torta" e "recheio", ou "torta" e "maçã" (em qualquer ordem), mas classifica "torta recheio" mais alto do que "torta maçã"</div>
							<div class="example">torta*</div>
							<div class="explain">Mostra resultados que contenham palavras como "torta", "tortas", "tortaria" ou "tortao"</div>
							<div class="example">"algumas palavras"</div>
							<div class="explain">Mostra resultados que contenham a exata frase "algumas palavras" (por exemplo, linhas que contenham "algumas palavras de sabedoria", mas não que contenham "algumas barulhentas palavras")</div>
						</div>
					{{/if}}
					{{#if (eq appMeta.storageProvider constants.StoreProvider.PostgreSQL)}}
						<div class="syntax">
							<div class="example">maçã | banana</div>
							<div class="explain">Mostra resultados que contenham qualquer das palavras</div>
							<div class="example">maçã & banana</div>
							<div class="explain">Mostra resultados que contenham as duas palavras</div>
							<div class="example">maçã !macintosh</div>
							<div class="explain">Mostra resultados que contenham a palavra "apple" mas não "macintosh"</div>
							<div class="example">google & (apple | microsoft) & !ibm</div>
							<div class="explain">Mostra resultados que tem "google" e "apple" ou "microsoft", mas não "ibm"</div>
							<div class="example">maçã:*</div>
							<div class="explain">Mostra resultados que contém palavras que começam com "maçã", como "maçãs"</div>
						</div>
					{{/if}}
					{{#if (eq appMeta.storageProvider constants.StoreProvider.SQLServer)}}
						<div class="syntax">
							<div class="example">apple OR banana</div>
							<div class="explain">Mostra resultados que contêm qualquer das palavras</div>
							<div class="example">apple AND banana</div>
							<div class="explain">Mostra resultados que contêm ambas as palavras</div>
							<div class="example">apple AND NOT macintosh</div>
							<div class="explain">Mostra resultados que contêm a palavra "apple", mas não "macintosh"</div>
							<div class="example">"apple*"</div>
							<div class="explain">Mostra resultados que contém palavras como "apple", "apples", ou "applet"</div>
							<div class="example">"algumas palavras"</div>
							<div class="explain">Mostra resultados que contêm a frase exata "algumas palavras" (por examplo, linhas que contenham "algumas palavras de sabedoria", mas não not "algumas grandes palavras")</div>
						</div>
					{{/if}}
				</div>
			</div>
		</div>
	</Layout::Grid::Sidebar>

	<Layout::Grid::Content>
		{{layout/logo-heading
			title="Busca"
			desc="Encontrar conteúdo"
			icon=constants.Icon.Search}}

		{{search/search-view
			filter=filter
			matchFilter=matchFilter}}
	</Layout::Grid::Content>
</Layout::Grid::Container>
