<div class="view-customize">
	<form>
		<h2>Jira</h2>
		<p>Mostrar itens (issues) na documentação</p>
		<div class="form-group">
			<label for="jira-url">URL</label>
			{{focus-input id="jira-url" type="text" value=jiraCreds.url class="form-control"}}
			<small class="form-text text-muted">Nome completamente qualificado para sua instância Jira, por exemplo http://jira.exemplo.org</small>
		</div>
		<div class="form-group">
			<label for="jira-username">Nome de usuário</label>
			{{input id="jira-username" type="text" value=jiraCreds.username class="form-control"}}
			<small class="form-text text-muted">Seu login Jira nome de usuário/email</small>
		</div>
		<div class="form-group">
			<label for="jira-secret">Senha</label>
			{{input id="jira-secret" type="password" value=jiraCreds.secret class="form-control"}}
			<small class="form-text text-muted">Forneça o Token de API se estiver usando a Nuvem Atrassian ou a Senha se estiver hospedando o Jira</small>
		</div>

		{{#if session.isGlobalAdmin}}
			<h2>Trello</h2>
			<p>Mostrar os quadros na documentação</p>
			<div class="form-group">
				<label for="trello-key">Chave da API</label>
					{{input id="trello-key" type="text" value=trelloCreds.appKey class="form-control"}}
				<small class="form-text text-muted">Veja <a href="https://trello.com/app-key">https://trello.com/app-key</a></small>
			</div>
		{{/if}}

		{{ui/ui-button color=constants.Color.Green light=true icon=constants.Icon.Integrations label=constants.Label.Save onClick=(action "onSave")}}
	</form>
</div>
