<div class="view-customize">
	{{#if (eq subscription.status 0)}}
		<h3 class="color-red-600">Aproveite o plano gratuito da Documize!</h3>
		<a href="https://www.documize.com/checkout?ref=app&l={{appMeta.location}}&id={{subscription.id}}&o={{appMeta.orgId}}&u={{subscription.seats}}&a={{subscription.activeUsers}}&e={{subscription.email}}">
			{{ui/ui-button color=constants.Color.Yellow light=true label="Atualizar agora"}}
		</a>
	{{/if}}
	{{#if (eq subscription.status 1)}}
		<h3 class="color-green-600">Ótimo, você tem um assinatura de produto ativa!</h3>
		<a href="https://www.documize.com/checkout?ref=app&l={{appMeta.location}}&id={{subscription.id}}&o={{appMeta.orgId}}&u={{subscription.seats}}&a={{subscription.activeUsers}}&e={{subscription.email}}">
			{{ui/ui-button color=constants.Color.Yellow light=true label="Alterar o plano"}}
		</a>
	{{/if}}
	{{#if (eq subscription.status 2)}}
		<h3 class="color-red-600">Hmm, a sua assinatura expirou</h3>
		<a href="https://www.documize.com/checkout?ref=app&l={{appMeta.location}}&id={{subscription.id}}&o={{appMeta.orgId}}&u={{subscription.seats}}&a={{subscription.activeUsers}}&e={{subscription.email}}">
			{{ui/ui-button color=constants.Color.Yellow light=true label="Renovar"}}
		</a>
	{{/if}}
	{{#if (eq subscription.status 3)}}
		<h3 class="color-red-600">Hmm, {{subscription.activeUsers}} usuários ativos ultrapassa o limite de {{subscription.seats}} permitidos</h3>
		<a href="https://www.documize.com/checkout?ref=app&l={{appMeta.location}}&id={{subscription.id}}&o={{appMeta.orgId}}&u={{subscription.seats}}&a={{subscription.activeUsers}}&e={{subscription.email}}">
			{{ui/ui-button color=constants.Color.Yellow light=true label="Upgrade"}}
		</a>
	{{/if}}
	{{#if (eq subscription.status 4)}}
		<h3 class="color-red-600">Hmm, a sua assinatura de produto não é válida</h3>
		<a href="https://www.documize.com/pricing?ref=app">
			{{ui/ui-button color=constants.Color.Yellow light=true label="Upgrade"}}
		</a>
	{{/if}}
	<Ui::UiSpacer @size="400" />

	<form>
		<div class="form-group">
			<label for="sub-id">ID de cliente</label>
			{{input id="sub-id" type="text" value=subscription.id class="form-control" readonly=true}}
			<small class="form-text text-muted">Utilize esta ID ao entrar em contato conosco</small>
		</div>
		<div class="form-group">
			<label for="sub-name">Nome de cliente</label>
			{{input id="sub-name" type="text" value=subscription.name class="form-control" readonly=true}}
			<small class="form-text text-muted">O nome do negócio ou da pessoa que é nosso cliente</small>
		</div>
		<div class="form-group">
			<label for="sub-email">Email de contato</label>
			{{input id="sub-email" type="email" value=subscription.email class="form-control" readonly=true}}
			<small class="form-text text-muted">Para onde vamos enviar atualizações do produto e notificações de cobrança</small>
		</div>
		<div class="form-group">
			<label for="sub-seats">Máximo de usuários</label>
			{{input id="sub-seats" type="number" value=subscription.seats class="form-control" readonly=true}}
			<small class="form-text text-muted">A sua quantidade de usuários &mdash; você tem {{subscription.activeUsers}} usuários ativos no momento</small>
		</div>

		{{#if (eq appMeta.location "selfhost")}}
			<div class="form-group">
				<label for="sub-start">Data de início</label>
				{{input id="sub-start" type="text" value=(formatted-date subscription.start) class="form-control" readonly=true}}
				<small class="form-text text-muted">Quando você (re)assinou</small>
			</div>
			<div class="form-group">
				<label for="sub-end">Data de renovação</label>
				{{input id="sub-end" type="text" value=(formatted-date subscription.end) class="form-control" readonly=true}}
				<small class="form-text text-muted">A data de renovação de sua assinatura anual</small>
			</div>
			<div class="form-group">
				<label for="sub-price">Faturamento anual</label>
				{{input id="sub-price" type="text" value=(formatted-price subscription.price) class="form-control" readonly=true}}
				<small class="form-text text-muted">O que você paga anualmente</small>
			</div>
		{{else}}
			<div class="form-group">
				<label for="sub-start">Início do faturamento</label>
				{{input id="sub-start" type="text" value=(formatted-date subscription.start) class="form-control" readonly=true}}
				<small class="form-text text-muted">Quando cobramos o seu cartão de crédito pela primeira vez &mdash; em seguida cobrado a cada 30 dias</small>
			</div>
			<div class="form-group">
				<label for="sub-price">Valor mensal</label>
				{{input id="sub-price" type="text" value=(formatted-price subscription.price) class="form-control" readonly=true}}
				<small class="form-text text-muted">O que você nos paga mensalmente</small>
			</div>
		{{/if}}

		{{#if subscription.trial}}
			<div class="form-group">
				<label for="sub-trial">Experimentando?</label>
				{{input id="sub-trial" type="text" value="Yes" class="form-control" readonly=true}}
			</div>
		{{/if}}
		{{#if (eq appMeta.location "selfhost")}}
			<div class="form-group">
				<label for="sub-license">Chave de ativação</label>
				{{textarea id="sub-license" value=license rows="10" class=(if licenseError "form-control is-invalid" "form-control")}}
				<small class="form-text text-muted">A chave de ativação que você recebe após assinar</small>
			</div>
		{{/if}}
		{{ui/ui-button color=constants.Color.Green light=true label="Ativar" onClick=(action "saveLicense")}}
	</form>
</div>

{{#if (eq appMeta.edition constants.Product.EnterpriseEdition)}}
	{{#if (eq appMeta.location "cloud")}}
		<Ui::UiSpacer @size="400" />
		<div class="view-customize">
			<div class="deactivation-zone">
				<p>Conte-nos por que você gostaria de encerrar sua conta ou cancelar sua assinatura.</p>
				<p>Os pedidos podem levar até 24 horas para serem processados.</p>
				<p><span class="bold-700">AVISO: </span>Todos os dados serão perdidos, por favor, baixe um backup completo de todos os seus dados.</p>

				{{#link-to "customize.backup"}}
					{{ui/ui-button color=constants.Color.Gray light=true label="Executar Backup"}}
				{{/link-to}}
				{{ui/ui-button-gap}}
				{{ui/ui-button color=constants.Color.Red light=true label="Encerrar conta" onClick=(action "onRequestClosure")}}
			</div>
		</div>
	{{/if}}
{{/if}}

<div id="deactivation-request-modal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">Solicitar encerramento da conta</div>
			<div class="modal-body">
                <form {{action "onEditComment" on="submit"}}>
                    <div class="form-group">
                        <label for="the-comment">Comentário</label>
                        {{focus-textarea id="close-comment" class="form-control" rows="5" value=comment}}
                        <small class="form-text text-muted">Sempre gostamos de feedback sobre o produto</small>
                    </div>
                </form>
			</div>
			<div class="modal-footer">
				{{ui/ui-button color=constants.Color.Gray light=true label=constants.Label.Cancel dismiss=true}}
				{{ui/ui-button-gap}}
				{{ui/ui-button color=constants.Color.Red light=true label="Encerrar conta" onClick=(action "onDeactivate")}}
			</div>
		</div>
	</div>
</div>

<div id="deactivation-confirmation-modal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">Desativação solicitada</div>
			<div class="modal-body">
				<p>Seu pedido foi solicitado e será processado em breve.</p>
				<p>Caso você ainda não tenha feito um backup, execute um backup para baixar todos os seus dados.</p>
			</div>
			<div class="modal-footer">
				{{ui/ui-button color=constants.Color.Gray light=true label=constants.Label.OK dismiss=true}}
			</div>
		</div>
	</div>
</div>
