<div class="view-customize">
	<form>
		<div class="form-group">
			<label for="smtp-host">Endereço</label>
			{{focus-input id="smtp-host" type="text" value=model.smtp.host class=(if SMTPHostEmptyError "form-control is-invalid" "form-control")}}
			<small class="form-text">ex: meu.endereco.com</small>
		</div>
		<div class="form-group">
			<label for="smtp-port">Porta</label>
			{{input id="smtp-port" type="text" value=model.smtp.port class=(if SMTPPortEmptyError "form-control is-invalid" "form-control")}}
			<small class="form-text text-muted">ex: 587</small>
		</div>
		<div class="form-group">
			<label for="smtp-userid">Nome de usuário</label>
			{{input id="smtp-userid" type="text" value=model.smtp.userid class="form-control"}}
			<small class="form-text text-muted">Nome de usuário para o servidor SMTP</small>
		</div>
		<div class="form-group">
			<label for="smtp-password">Senha</label>
			{{input id="smtp-password" type="password" value=model.smtp.password class="form-control"}}
			<small class="form-text text-muted">A senha do usuário do servidor SMTP</small>
		</div>
		<div class="form-group">
			<label for="smtp-sender">Email do remetente</label>
			{{input id="smtp-sender" type="email" value=model.smtp.sender class=(if SMTPSenderEmptyError "form-control is-invalid" "form-control")}}
			<small class="form-text text-muted">ex: usuario@dominio.com</small>
		</div>
		<div class="form-group">
			<label for="smtp-senderName">Nome do remetente</label>
			{{input id="smtp-senderName" type="text" value=model.smtp.senderName class=(if senderNameError "form-control is-invalid" "form-control")}}
			<small class="form-text text-muted">ex: Documize</small>
		</div>
		<div class="form-group">
			<label for="smtp-fqdn">Nome de domínio plenamente qualificado do servidor de envio</label>
			{{input id="smtp-fqdn" type="text" value=model.smtp.fqdn class="form-control"}}
			<small class="form-text text-muted">(opcional) O SMTP pode requerer um domínio válido, por exemplo, docs.exemplo.org</small>
		</div>
		<div class="form-group">
			<label>Autenticação anônima (ignorar credenciais)</label>
			{{x-toggle value=model.smtp.anonymous size="medium" theme="light" onToggle=(action (mut model.smtp.anonymous))}}
		</div>
		<div class="form-group">
			<label>Empacotar credenciais com Base64</label>
			{{x-toggle value=model.smtp.base64creds size="medium" theme="light" onToggle=(action (mut model.smtp.base64creds))}}
		</div>
		<div class="form-group">
			<label>Usar SSL</label>
			{{x-toggle value=model.smtp.usessl size="medium" theme="light" onToggle=(action (mut model.smtp.usessl))}}
		</div>
		{{ui/ui-button color=constants.Color.Green light=true icon=constants.Icon.Send label=buttonText onClick=(action "saveSMTP")}}
	</form>
</div>
