{{#if spaces}}
	{{ui/ui-button color=constants.Color.Yellow light=true icon=constants.Icon.Export label="Exportar todo o conteúdo" onClick=(action "onExport")}}
	<Ui::UiSpacer @size="300" />

	<div class="view-customize">
		<ul class="space-list">
			{{#each spaces as |space|}}
				<li class="space">
					<div class="info">
						{{#link-to "folder.index" space.id space.slug}}
							<div class="name">
								{{#if (eq space.spaceType constants.SpaceType.Public)}}
									<i class={{concat "dicon " constants.Icon.World}}>
										{{#attach-tooltip showDelay=1000}}Processo público{{/attach-tooltip}}
									</i>
								{{/if}}
								{{#if (eq space.spaceType constants.SpaceType.Protected)}}
									<i class={{concat "dicon " constants.Icon.People}}>
										{{#attach-tooltip showDelay=1000}}Processo protegido{{/attach-tooltip}}
									</i>
								{{/if}}
								{{#if (eq space.spaceType constants.SpaceType.Private)}}
									<i class={{concat "dicon " constants.Icon.Person}}>
										{{#attach-tooltip showDelay=1000}}Processo pessoal{{/attach-tooltip}}
									</i>
								{{/if}}
								{{space.name}}
							</div>
							<div class="desc">Uma descrição que será atrelada ao backend</div>
						{{/link-to}}
						<Ui::UiSpacer @size="200" />
						{{#ui/ui-toolbar dark=false light=true raised=true large=false bordered=true}}
							{{ui/ui-toolbar-icon icon=constants.Icon.AddUser color=constants.Color.Green tooltip="Incluir a mim mesmo como dono" onClick=(action "onOwner" space.id)}}
							{{ui/ui-toolbar-icon icon=constants.Icon.Delete color=constants.Color.Red tooltip="Apagar Processo" onClick=(action "onShow" space.id)}}
						{{/ui/ui-toolbar}}
					</div>
				</li>
			{{/each}}
		</ul>
	</div>

	<div id="space-delete-modal" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">Remoção da Processo</div>
				<div class="modal-body">
					<form onsubmit={{action "onDelete"}}>
						<p>Tem certeza de que quer remover esta Processo e todos os seus documentos?</p>
						<div class="form-group">
							<label for="delete-space-name">Por favor, digite o nome da Processo para confirmar</label>
							{{input type="text" id="delete-space-name" class="form-control mousetrap" placeholder="Nome da Processo" value=deleteSpace.name}}
							<small class="form-text text-muted">Isto irá remover todos os documentos e templates nesta Processo!</small>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					{{ui/ui-button color=constants.Color.Gray light=true label=constants.Label.Cancel dismiss=true}}
					{{ui/ui-button-gap}}
					{{ui/ui-button color=constants.Color.Red light=true label=constants.Label.Delete onClick=(action "onDelete")}}
				</div>
			</div>
		</div>
	</div>
{{else}}
	<p>Não há qualquer Processos compartilhados para gerenciar</p>
{{/if}}


