<div class="view-customize">
	{{ui/ui-button color=constants.Color.Green light=true icon=constants.Icon.People label=constants.Label.Add onClick=(action "onShowAddGroupModal")}}
	<div id="add-group-modal" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">Adicionar grupo</div>
				<div class="modal-body">
					<form onsubmit= {{action "onAddGroup"}}>
						<div class="form-group">
							<label for="new-group-name">Nome</label>
							{{focus-input id="new-group-name" type="text" class="form-control mousetrap" placeholder="Insira o nome do grupo" value=newGroup.name}}
							<small class="form-text text-muted">ex: Gerentes, Desenvolvedores, Equipes Acme</small>
						</div>
						<div class="form-group">
							<label for="new-group-desc">Descrição (opcional)</label>
							{{textarea id="new-group-desc" value=newGroup.purpose class="form-control" rows="3"}}
						</div>
					</form>
				</div>
				<div class="modal-footer">
					{{ui/ui-button color=constants.Color.Gray light=true label=constants.Label.Close dismiss=true}}
					{{ui/ui-button-gap}}
					{{ui/ui-button color=constants.Color.Red light=true label=constants.Label.Add onClick=(action "onAddGroup")}}
				</div>
			</div>
		</div>
	</div>

	<Ui::UiSpacer @size="300" />

	<div class="groups-list">
		{{#each groups as |group|}}
			<div class="group">
				<div class="name">
					{{group.name}} ({{group.members}})
				</div>
				<div class="desc">{{group.purpose}}</div>
				<Ui::UiSpacer @size="200" />
				{{#ui/ui-toolbar dark=false light=true raised=true large=false bordered=true}}
					{{ui/ui-toolbar-icon icon=constants.Icon.AddUser color=constants.Color.Gray tooltip="Adicionar membros" onClick=(action "onShowAddMemberModal" group.id)}}
					{{#if (gt group.members 0)}}
						{{ui/ui-toolbar-icon icon=constants.Icon.RemoveUser color=constants.Color.Gray tooltip="Remover membros" onClick=(action "onShowRemoveMemberModal" group.id)}}
					{{/if}}
					{{ui/ui-toolbar-icon icon=constants.Icon.Edit color=constants.Color.Gray tooltip="Editar grupo" onClick=(action "onShowEditModal" group.id)}}
					{{ui/ui-toolbar-icon icon=constants.Icon.Delete color=constants.Color.Red tooltip="Apagar grupo" onClick=(action "onShowDeleteModal" group.id)}}
				{{/ui/ui-toolbar}}
			</div>
		{{/each}}
	</div>

	<div id="delete-group-modal" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">Apagar Grupo</div>
				<div class="modal-body">
					<form onsubmit= {{action "onDeleteGroup"}}>
						<p>Tem certeza de que quer apagar este grupo?</p>
						<div class="form-group">
							<label for="delete-group-name">Por favor, digite o nome do grupo para confirmar</label>
							{{input id="delete-group-name" type="text" class="form-control mousetrap" placeholder="Nome do grupo" value=deleteGroup.name}}
							<small class="form-text text-muted">Isto removerá as informações de vínculos com o grupo e as permissões associadas!</small>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					{{ui/ui-button color=constants.Color.Gray light=true label=constants.Label.Close dismiss=true}}
					{{ui/ui-button-gap}}
					{{ui/ui-button color=constants.Color.Red light=true label=constants.Label.Delete onClick=(action "onDeleteGroup")}}
				</div>
			</div>
		</div>
	</div>

	<div id="edit-group-modal" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">Editar Grupo</div>
				<div class="modal-body">
					<form onsubmit= {{action "onEditGroup"}}>
						<div class="form-group">
							<label for="edit-group-name">Nome</label>
							{{input id="edit-group-name" type="text" class="form-control mousetrap" placeholder="Insira o nome do grupo" value=editGroup.name}}
							<small class="form-text text-muted">ex: Gerentes, Desenvolvedores, Equipes Acme</small>
						</div>
						<div class="form-group">
							<label for="edit-group-desc">Descriçãoe (opcional)</label>
							{{textarea id="edit-group-desc" value=editGroup.purpose class="form-control" rows="3"}}
						</div>
					</form>
				</div>
				<div class="modal-footer">
					{{ui/ui-button color=constants.Color.Gray light=true label=constants.Label.Close dismiss=true}}
					{{ui/ui-button-gap}}
					{{ui/ui-button color=constants.Color.Green light=true label=constants.Label.Save onClick=(action "onEditGroup")}}
				</div>
			</div>
		</div>
	</div>

	<div id="group-remove-member-modal" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">Remover Membro &mdash; {{membersGroup.name}} ({{members.length}})</div>
				<div class="modal-body">
					<div class="view-customize">
						<div class="group-users-members">
							{{#each members as |member|}}
								<div class="item">
									{{#ui/ui-toolbar dark=false light=true raised=true large=false bordered=true}}
										{{ui/ui-toolbar-icon icon=constants.Icon.RemoveUser color=constants.Color.Red tooltip="Remover membro" onClick=(action "onLeaveGroup" member.userId)}}
										{{ui/ui-toolbar-label color=constants.Color.Gray label=member.fullname onClick=(action "onLeaveGroup" member.userId)}}
									{{/ui/ui-toolbar}}
								</div>
							{{/each}}
						</div>
					</div>
				</div>
				<div class="modal-footer">
					{{ui/ui-button color=constants.Color.Gray light=true label=constants.Label.Close dismiss=true}}
				</div>
			</div>
		</div>
	</div>

	<div id="group-add-member-modal" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">Adicionar membro &mdash; {{membersGroup.name}} ({{members.length}})</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="group-members-search">Encontrar usuários</label>
						{{input id="group-members-search" type="text" class="form-control mousetrap" placeholder="Buscar membros e usuários..." value=searchText key-up=(action "onSearch")}}
						<small class="form-text text-muted">firstname, lastname, email</small>
					</div>
					<div class="view-customize">
						<div class="text-center">
							{{#ui/ui-toolbar dark=false light=false raised=false large=true bordered=false tooltip="Máximo de usuários a exibir"}}
								{{ui/ui-toolbar-label color=constants.Color.Gray label="5" selected=(eq userLimit 5) onClick=(action "onLimit" 5)}}
								{{ui/ui-toolbar-label color=constants.Color.Gray label="10" selected=(eq userLimit 10) onClick=(action "onLimit" 10)}}
								{{ui/ui-toolbar-label color=constants.Color.Gray label="25" selected=(eq userLimit 25) onClick=(action "onLimit" 25)}}
								{{ui/ui-toolbar-label color=constants.Color.Gray label="50" selected=(eq userLimit 50) onClick=(action "onLimit" 50)}}
								{{ui/ui-toolbar-label color=constants.Color.Gray label="100" selected=(eq userLimit 100) onClick=(action "onLimit" 100)}}
								{{ui/ui-toolbar-label color=constants.Color.Gray label="250" selected=(eq userLimit 250) onClick=(action "onLimit" 250)}}
								{{ui/ui-toolbar-label color=constants.Color.Gray label="500" selected=(eq userLimit 500) onClick=(action "onLimit" 500)}}
								{{ui/ui-toolbar-label color=constants.Color.Gray label="1,000" selected=(eq userLimit 1000) onClick=(action "onLimit" 1000)}}
								{{ui/ui-toolbar-label color=constants.Color.Gray label="TODOS" selected=(eq userLimit 99999) onClick=(action "onLimit" 99999)}}
							{{/ui/ui-toolbar}}
						</div>
						<Ui::UiSpacer @size="300" />
						<div class="group-users-members">
							{{#each users as |user|}}
								<div class="item">
									{{#ui/ui-toolbar dark=false light=true raised=true large=false bordered=true}}
										{{#if user.isMember}}
											{{ui/ui-toolbar-icon icon=constants.Icon.RemoveUser color=constants.Color.Red tooltip="Remover membro" onClick=(action "onLeaveGroup" user.id)}}
										{{else}}
											{{ui/ui-toolbar-icon icon=constants.Icon.AddUser color=constants.Color.Green tooltip="Adicionar membro" onClick=(action "onJoinGroup" user.id)}}
											{{ui/ui-toolbar-label color=constants.Color.Gray label=(concat user.firstname " " user.lastname) onClick=(action "onJoinGroup" user.id)}}
										{{/if}}
									{{/ui/ui-toolbar}}
								</div>
							{{/each}}
						</div>
					</div>
				</div>
				<div class="modal-footer">
					{{ui/ui-button color=constants.Color.Gray light=true label=constants.Label.Close dismiss=true}}
				</div>
			</div>
		</div>
	</div>
</div>
