{{layout/logo-heading
	title="Metadados da Coordenação Geral"
	desc="Definir visibilidade, ícone e Departamento"
	icon=constants.Icon.Settings}}

<form>
	<div class="form-group">
		<label>Nome</label>
		{{focus-input id="space-name" type="text" value=spaceName class=(if hasNameError "form-control is-invalid" "form-control") placeholder="Nome da Coordenação Geral" autocomplete="off"}}
	</div>

	<div class="form-group">
		<label>Descrição</label>
		<div id="space-desc" class="wysiwyg wysiwyg-editor">
			{{{spaceDesc}}}
		</div>
	</div>

	<div class="form-group">
		<label>Visibilidade</label>
		{{ui/ui-select id="spacetypes-dropdown" content=spaceTypeOptions optionValuePath="id" optionLabelPath="label" selection=spaceType action=(action "onSetSpaceType")}}
	</div>

	<div class="form-group">
		<label>Ícone</label>
		<div class="ui-icon-picker">
			<ul class="list">
				{{#each iconList as |icon|}}
					<li class="item {{if (eq spaceIcon icon) "selected"}}" {{action "onSetIcon" icon}}>
						{{ui/ui-icon-meta icon=icon}}
					</li>
				{{/each}}
			</ul>
		</div>
	</div>

	<div class="form-group">
		<label>Departamento</label>
		<ul class="space-label-picker">
			<li class="label none {{if (eq spaceLabel "") "selected"}}" {{action "onSetLabel" ""}}>Nenhum</li>
			{{#each labels as |label|}}
				<li class="label {{if (eq spaceLabel label.id) "selected"}}"
					style={{label.bgColor}}
					{{action "onSetLabel" label.id}} title={{label.name}}>
					{{label.name}}
				</li>
			{{/each}}
		</ul>
	</div>

	<div class="form-group">
		<label>Habilitar feedback</label>
		{{x-toggle value=allowLikes size="medium" theme="light" onToggle=(action (mut allowLikes))}}
	</div>

	{{#if allowLikes}}
		<div class="form-group">
			<label>Pergunta do feedback</label>
				{{input type="text" id="space-likes-prompt" class="form-control" placeholder="Insira uma pergunta a fazer ao solicitar feedback" value=likes}}
				<small class="form-text text-muted">Especifique a pergunta, ex: Isto foi útil? Encontrou o que procurava?</small>
		</div>
	{{/if}}
</form>

{{ui/ui-button
	color=constants.Color.Green
	icon=constants.Icon.Settings
	label=constants.Label.Save
	light=true
	onClick=(action "onSave")}}
