{{#section/base-editor document=document folder=folder page=page busy=busy	tip="GitHub é como as pessoas constróem software. (https://github.com)"	isDirty=(action "isDirty") onCancel=(action "onCancel") onAction=(action "onAction")}}
	<div class="section-github-editor">
		{{#if authenticated}}
			<div class="form-group">
				<label>Selecione a organização</label>
				{{ui/ui-select id="owners-dropdown" content=owners action=(action "onOwnerChange") optionValuePath="id" optionLabelPath="name" selection=config.owner}}
				<small class="form-text text-muted">Selecione a organização ou usuário cujo repositório você quer mostrar</small>
			</div>
			<div class="form-group">
				<label>Mostrar itens desde</label>
				{{input id="branch-since" value=config.branchSince type="text" class="form-control"}}
				<small class="form-text text-muted">o padrão são 7 dias atrás</small>
			</div>
			<div class="form-group">
				<label>Visões do GitHub</label>
				<div class="github-view">
					{{input id="show-milestone" checked=config.showMilestones type="checkbox"}}
					<label>Mostrar Marcos</label>
					<br>
					{{input id="show-issues" checked=config.showIssues type="checkbox"}}
					<label>Mostrar Issues</label>
					<br>
					{{input id="show-commits" checked=config.showCommits type="checkbox" }}
					<label>Mostrar Commits</label>
				</div>
				<small class="form-text text-muted">Selecionar as visões que você quer mostrar</small>
			</div>
			<div class="input-form">
				<div class="form-group">
					<label>Selecionar Repositório</label>
					{{ui/ui-list-picker items=config.lists nameField="repo" singleSelect=true}}
				</div>
			</div>
		{{else}}
			<div class="" {{action "auth"}}>Autenticar</div>
		{{/if}}
	</div>
{{/section/base-editor}}
