{{#ui/ui-toolbar dark=false light=false raised=false large=false bordered=false}}
	{{#if (eq appMeta.edition constants.Product.EnterpriseEdition)}}
		{{#if permissions.documentEdit}}
			{{#ui/ui-toolbar-dropdown label="Ações" arrow=true}}
				{{#attach-popover class="ember-attacher-popper" hideOn="click clickout" showOn="click" isShown=false}}
					<ul class="menu">
						<li class="item" {{action "onShowRequestContributionModal"}}>Solicitar contribuição</li>
						<li class="item" {{action "onShowRequestFeedbackModal"}}>Solicitar feedback</li>
						<li class="item" {{action "onShowRequestReadModal"}}>Solicitar leitura</li>
						{{#if (eq document.lifecycle constants.Lifecycle.Draft)}}
							<li class="divider"/>
							<li class="item" {{action "onShowPublishModal"}}>Solicitar publicação</li>
						{{/if}}
						<li class="divider"/>
						<li class="item" {{action "onShareModal"}}>Compartilhar via link externo seguro</li>
					</ul>
				{{/attach-popover}}
			{{/ui/ui-toolbar-dropdown}}
		{{/if}}
	{{/if}}

	{{#ui/ui-toolbar-dropdown label="Conteúdo" arrow=true}}
		{{#attach-popover class="ember-attacher-popper" hideOn="click clickout" showOn="click" isShown=false}}
			<ul class="menu">
				{{#if pinState.isPinned}}
					<li class="item" {{action "onUnpin"}}>Desmarcar página</li>
					<li class="divider"/>
				{{else if session.authenticated}}
					<li class="item" {{action "onPin"}}>Marcar página</li>
					<li class="divider"/>
				{{/if}}
				<li class="item" {{action "onShowPrintModal"}}>Imprimir</li>
				<li class="item" {{action "onExport"}}>Baixar</li>
				{{#if (or permissions.documentAdd permissions.documentCopy)}}
					<li class="divider"/>
					{{#if permissions.documentAdd}}
						<li class="item" {{action "onShowTemplateModal"}}>Modelo</li>
					{{/if}}
					{{#if permissions.documentCopy}}
						<li class="item" {{action "onShowDuplicateModal"}}>Copiar</li>
					{{/if}}
				{{/if}}
				{{#if permissions.documentDelete}}
					<li class="divider"/>
					<li class="item red" {{action "onShowDeleteModal"}}>Apagar</li>
				{{/if}}
			</ul>
		{{/attach-popover}}
	{{/ui/ui-toolbar-dropdown}}

	{{#if (or showActivity showRevisions)}}
		{{#ui/ui-toolbar-dropdown label="História" arrow=true}}
			{{#attach-popover class="ember-attacher-popper" hideOn="click clickout" showOn="click" isShown=false}}
				<ul class="menu">
					{{#if showActivity}}
						{{#link-to "document.activity" class="item"}}Atividade{{/link-to}}
					{{/if}}
					{{#if showRevisions}}
						{{#link-to "document.revisions" class="item"}}Revisões{{/link-to}}
					{{/if}}
				</ul>
			{{/attach-popover}}
		{{/ui/ui-toolbar-dropdown}}
	{{/if}}

	{{#if permissions.documentEdit}}
		{{ui/ui-toolbar-icon icon=constants.Icon.Settings color=constants.Color.Green tooltip="Renomear, Palavra-chaves, Situação, Workflow" linkTo="document.settings"}}
	{{/if}}
{{/ui/ui-toolbar}}

<div id="document-template-modal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">Salvar como modelo</div>
			<div class="modal-body">
				<form onsubmit={{action "onSaveTemplate"}}>
					<div class="form-group">
						<label for="new-template-name">Nome</label>
						{{input id="new-template-name" value=saveTemplate.name type="email" class="form-control mousetrap" placeholder="Nome do template"}}
						<small class="form-text text-muted">Um bom nome de template sugere o tipo do documento</small>
					</div>
					<div class="form-group">
						<label for="new-template-desc">Descrição</label>
						{{textarea id="new-template-desc" value=saveTemplate.description class="form-control" rows="5"}}
						<small class="form-text text-muted">Explique o caso de uso para este modelo</small>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				{{ui/ui-button color=constants.Color.Gray light=true label=constants.Label.Cancel dismiss=true}}
				{{ui/ui-button-gap}}
				{{ui/ui-button color=constants.Color.Green light=true label=constants.Label.Save onClick=(action "onSaveTemplate")}}
			</div>
		</div>
	</div>
</div>

<div id="document-print-modal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">Imprimir</div>
			<div class="modal-body">
				<p>Imprimir todo conteúdo ou seções selecionadas</p>
				{{#each pages as |item|}}
					{{#ui/ui-checkbox selected=item.printSelected}}
						{{item.page.numbering}}. {{item.page.title}}
					{{/ui/ui-checkbox}}
				{{/each}}
			</div>
			<div class="modal-footer">
				{{ui/ui-button color=constants.Color.Gray light=true label=constants.Label.Cancel dismiss=true}}
				{{ui/ui-button-gap}}
				{{ui/ui-button color=constants.Color.Green light=true label=constants.Label.Print onClick=(action "onPrintSelection")}}
			</div>
		</div>
	</div>
</div>

<div id="document-delete-modal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">Apagar documento</div>
			<div class="modal-body">
				<p>Tem certeza de que quer apagar este documento?</p>
			</div>
			<div class="modal-footer">
				{{ui/ui-button color=constants.Color.Gray light=true label=constants.Label.Cancel dismiss=true}}
				{{ui/ui-button-gap}}
				{{ui/ui-button color=constants.Color.Red light=true label=constants.Label.Delete onClick=(action "onDocumentDelete")}}
			</div>
		</div>
	</div>
</div>

<div id="document-duplicate-modal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">Duplicar</div>
			<div class="modal-body">
				<form onsubmit={{action "onDuplicate"}}>
					<div class="form-group">
						<label for="duplicate-name">Nome</label>
						{{input id="duplicate-name" value=duplicateName type="email" class="form-control mousetrap" placeholder="Nome"}}
						<small class="form-text text-muted">O conteúdo será duplicado nesta Coordenação-Geral</small>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				{{ui/ui-button color=constants.Color.Gray light=true label=constants.Label.Cancel dismiss=true}}
				{{ui/ui-button-gap}}
				{{ui/ui-button color=constants.Color.Green light=true label=constants.Label.Duplicate onClick=(action "onDuplicate")}}
			</div>
		</div>
	</div>
</div>
